@import url("reset.css");

body>.header {
	height: 50px;
	font-size: 20pt;
	background-color: orange;
	color: white;
	font-weight: bold;
	line-height: 50px;
	padding-left: 30px;
}

body>.content {
	padding-top: 6px;
	padding-left: 6px;
}

fieldset {
  border-top: solid 1px lightgrey;
  padding-left: 10px;
}

fieldset.section {
	margin-top: 20px;
}

#population-centers-map {
	width: 800px;
	height: 500px;
	margin: 10px;
}
