{namespace rhok.populationcenter.soy.pages}

/**
 * The home page
 */
{template .home}

<div class="csv-export">

Enter city name: <input type="text" size="20" name="city_name"/>
<button class="export-csv">Export CSV</button>

</div>

<div class="query-population-centers">

</div>

{/template}
